<!DOCTYPE html>
<html>
 <head>
	<title>Image Maze: A Game from Witsacco</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

	<link href="static/style/main.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Syncopate|Racing+Sans+One|Press+Start+2P|Basic" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script type="text/javascript" src="static/_js/gl/glMatrix-0.9.5.min.js"></script>
	<script type="text/javascript" src="static/_js/gl/webgl-utils.js"></script>

	<script id="shader-fs" type="x-shader/x-fragment">

	#ifdef GL_ES
	precision highp float;
	#endif

	varying vec2 vTextureCoord;

	uniform sampler2D uSampler;

	void main(void) {
		gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
	}

	</script>

	<script id="shader-vs" type="x-shader/x-vertex">

	attribute vec3 aVertexPosition;
	attribute vec2 aTextureCoord;

	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;

	varying vec2 vTextureCoord;

	void main(void) {
		gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
		vTextureCoord = aTextureCoord;
	}

	</script>

	<script type="text/javascript" src="static/_js/gl/ModelViewStack.js"></script>
	<script type="text/javascript" src="static/_js/gl/Texture.js"></script>

	<script type="text/javascript" src="static/_js/utils/KeyHandler.js"></script>
	<script type="text/javascript" src="static/_js/utils/MazeParser.js"></script>
	<script type="text/javascript" src="static/_js/utils/Timer.js"></script>
	<script type="text/javascript" src="static/_js/utils/WordGenerator.js"></script>

	<script type="text/javascript" src="static/_js/Cube.js"></script>
	<script type="text/javascript" src="static/_js/FinishCube.js"></script>
	<script type="text/javascript" src="static/_js/Game.js"></script>
	<script type="text/javascript" src="static/_js/ImageCube.js"></script>
	<script type="text/javascript" src="static/_js/Maze.js"></script>

	<script type="text/javascript" src="static/_js/view/MazeDrawer.js"></script>
	<script type="text/javascript" src="static/_js/view/DisplayManager.js"></script>

	<script>
		// When the document is ready, put the click handler on our start
		//  button
		$(function() {
			// Create a new game
			// TODO: make Game throw errors in constructor
			var game = new Game();

			var manager = new DisplayManager(
				game,
				"#mazeCanvas",
				"#clock",
				"#currentGuess",
				"#message",
				"#startButton",
				"#debugUserPosition"
			);

			// When clicking the start button, initialize everything and kick
			//  off the new game.
			$( "#startButton" ).click( function() {
				game.loadNewLevel( $.proxy(manager.start, manager) );
			});
		});
	</script>

 </head>
 <body>

	<section id="gameBackground">

		<header>
			<div class="center-wrapper">

				<h2>A game by Witsacco</h2>
				<h1>Image Maze</h1>

			</div>
		</header>

		<section id="gameArea">
			<div class="center-wrapper">

				<button id="startButton">Start!</button>
				<canvas id="mazeCanvas" width="600" height="600"></canvas>

				<div id="gameControls">

					<div id="clock">0:10</div>

					<div id="message"></div>

					<section id="guessing">
						<p>Guess the word:</p>
						<div id="currentGuess"></div>
					</section>

				</div>

			</div>
		</section>

		<div id="debugUserPosition"></div>

	</section>

	<section id="instructions">
		<div class="center-wrapper">

			<h3>Instructions</h3>

			<p>You're dropped in a maze and you've got to get to the end. Use the
				arrow keys to find your way to the finish.</p>

			<p>Some levels will have images displayed on the walls of the maze. If
				you guess the word that is represented by the images, you'll get
				some extra time to finish the maze.</p>

			<p>Have fun!</p>

		</div>
	</section>

	<footer>
		<p>Made by Ryan and Chris in NYC. More at
			<a href="http://witsacco.com">witsacco.com</a>.</p>
	</footer>

 </body>
</html>
