<!DOCTYPE html>
<html>
 <head>
	<title>Image Maze: A Game from Witsacco</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script type="text/javascript" src="static/_js/gl/glMatrix-0.9.5.min.js"></script>
	<script type="text/javascript" src="static/_js/gl/webgl-utils.js"></script>

	<script id="shader-fs" type="x-shader/x-fragment">

	#ifdef GL_ES
	precision highp float;
	#endif

	varying vec2 vTextureCoord;

	uniform sampler2D uSampler;

	void main(void) {
		gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
	}

	</script>

	<script id="shader-vs" type="x-shader/x-vertex">

	attribute vec3 aVertexPosition;
	attribute vec2 aTextureCoord;

	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;

	varying vec2 vTextureCoord;


	void main(void) {
		gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
		vTextureCoord = aTextureCoord;
	}

	</script>
	
	<script type="text/javascript" src="static/_js/gl/ModelViewStack.js"></script>
	<script type="text/javascript" src="static/_js/gl/Texture.js"></script>

	<script type="text/javascript" src="static/_js/utils/KeyHandler.js"></script>
	<script type="text/javascript" src="static/_js/utils/MazeParser.js"></script>
	<script type="text/javascript" src="static/_js/utils/Timer.js"></script>
	<script type="text/javascript" src="static/_js/utils/WordGenerator.js"></script>
	
	<script type="text/javascript" src="static/_js/Cube.js"></script>
	<script type="text/javascript" src="static/_js/FinishCube.js"></script>
	<script type="text/javascript" src="static/_js/Game.js"></script>
	<script type="text/javascript" src="static/_js/ImageCube.js"></script>
	<script type="text/javascript" src="static/_js/Maze.js"></script>
	
	<script type="text/javascript" src="static/_js/view/MazeDrawer.js"></script>
	<script type="text/javascript" src="static/_js/view/DisplayManager.js"></script>
	
	<script>
		$(function() {
			var pathToMaze = "maze0.txt";
			
			// TODO: make Game throw errors in constructor
			var game = new Game( pathToMaze, function( game ) {
			
				var manager = new DisplayManager( game, "#mazeCanvas", "#clock", "#currentGuess", "#clockMessage" );

				$( "#startButton" ).click( $.proxy( manager.start, manager ) );
			});
			
		});
	</script>
	
 </head>
 <body>

	<div id="clockHeader">
	<span id="clock">5</span>
	<span id="clockMessage"></span>
	</div>
	<canvas id="mazeCanvas" style="border: none;" width="500" height="500"></canvas>
	<div id="isValid"></div>
	<button id="startButton">Start!</button>
	
	<p>
		Guess the word:
		<span id="currentGuess"></span>
		<span id="guessMessage"></span>
	</p>
	
 </body>
</html>
